# Configurações do Servidor
PORT=5001
NODE_ENV=development

# Configuração de Banco de Dados
MONGODB_URI=mongodb://localhost:27017/ditel_db

# Chave de Criptografia JWT
JWT_SECRET=InsiraUmaChaveSeguraAquiParaProducao

# Segurança e CORS
CORS_ORIGIN=http://localhost:5173
